
span.badgeName.pager {
	position: absolute;
}

div.main {
	margin-bottom: 50px;
}

div.friend-list-container {
	height: 60px;
	overflow: hidden;
}

tbody tr td {
	font-size: 14px;
}

li.badge-tab-item img {
	padding-right: 8px;
}

div.main-content li {
	padding-bottom: 0;
}

li.badge-tab-item div {
	font-size: 18px;
}

div.profile-badges-main {
	margin-top: -150px;
}

span.badgedescrip {
	float: left;
	padding: 5px;
	font-size: 14px;
	color: #333333;
	width: 400px;
	margin-left: 55px;
	font-family: 'AvenirLTStd55Roman';
	font-weight: normal;
	height: 55px;
}

span.nobadges {
	color: #fc6819;
	font-size: 29px;
}

span.badge-title-badges {
	float: left;
	font-size: 24px;
	color: #f0891a;
}

div.featuredbadge img {
	float: left;
	padding-right: 8px;
	margin-top: -25px;
}

div.featured-title {
	font-size: 20px;
	margin-left: 220px;
}

div.badge-descrip-badges {
	margin-top: 30px;
	font-size: 18px;
	font-family: 'AvenirLTStd55Roman';
	font-weight: normal;
}

.btn-brag-prof{
	font-size: 14px;
	padding: 5px 10px 6px;
	background-color: #749a02;
	background: #F15A24;
	display: inline-block;
	color: #222;
	text-decoration: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	border: 0px;
	font-family: 'AvenirLTStd85Heavy';
	font-weight: normal;

}

div.big-name {
	color: #2e64d1;
}

div.featuredbadge img {
	margin-right: 10px;
	margin-top: 5px;
}

div.big-name a {
	color: #294d8a;
	cursor: pointer;
}

li.badge-tab-item div {
	margin-left: 10px;
}

input.btn-brag-prof {
	color: #ffffff;
	font-size: 18px;
	float: right;
	margin: 5px;
	cursor: pointer;
}
#sourcesprof li {
	height: 45px;
	border-style: solid;
	border-color: #e3e3e3;
	border-bottom-width: 1px;
}

#sourcesprof li a {
	float: left;
	padding-top: 2px;
}

#sourcesprof li a img {
	height: 40px;
	width: 40px;
	float: left;
}

#sourcesprof li a p {
	width: 300px;
	font-size: 17px;
	padding-left: 50px;
	margin-top: 10px;
	font-family: 'AvenirLTStd55Roman';
	font-weight: normal;
}

span.sources-badges img {
	height: 30px;
	width: 30px;
}

span.sources-badges {
	height: 20px;
	float: right;
	margin-right: 15px;
	margin-top: 7px;
}

input.btn-add {
	float: right;
}

div.profile-badges-title {
	margin-top: 330px;
}

span.sources-badges-feat img {
	padding: 0;
	margin: 2px;
	width: 40px;
}

div.source-name {
	color: #3E5681;
	font-size: 18px;
}

div.feat-title {
	font-size: 18px;
}

input.btn-add#feat {
	font-size: 18px;
	width: 300px;
	margin-top: -10px;
	color: #fff;
	background-image: url("http://www.connichiwah.com/images/website/plus.png");
	background-position-x: 15px;
	background-position-y: 7px;
	background-repeat: no-repeat;
	background-color: #F15A24;
	text-align: center;
}

div.profile-badges-title {
	margin-top: 250px;
}

span.sources-badges img {
	height: 30px !important;
	width: 30px !important;
}

span.sources-badges-feat img {
	height: 40px !important;
	width: 40px !important;
}

div.source-name {
	font-size: 24px;
	text-decoration: none;
}

a div.source-name {
	color: #3E5681;
}

a:visited div.source-name {
	color: #3E5681;
}

div.feat-title {
	color: #3d3d3d;
}



